{% load static %}
<!DOCTYPE html>

<html lang="en" class="home-html">

<head>

    <!--Important Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <!--baraye inke website rooye hame moroorgar ha kar kone va mige hamontori website ro baz konan ke Edge mikone-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Baraye inke website responsive bashe makhsosan baraye mobile-->

    <!--Title-->
    <title>Todo List project</title>

    <!--FavIcon-->
    <!--    <link rel="icon" type="image/png" href="./res/favicon.png">-->

    <!--Fontawesome-->
    <link rel="stylesheet" href="{% static 'regester/css/font-awesome/css/font-awesome.min.css' %}">

    <!--Custom CSS-->
    <link rel="stylesheet" href=" {% static 'regester/css/style.css' %}">

</head>


<body>

<div class="container">


    <div class="buttons">
        <a href="{% url 'todo:login' %}" style="margin-bottom: 32px;">
            <button class="login english-font">login</button>
        </a>
        <a href="{% url 'todo:register' %} " style="margin-bottom: 32px; display: block;">

            <button class="register english-font">register</button>
        </a>
    </div>

    <div class="links">
        {% for news in newsList %}
            <a href="news/{{ news.pk }}">
                <div class="link">
                    <span>{{ news.title }} </span>
                </div>
            </a>
        {% endfor %}


    </div>


</div>


</body>

</html>