{% load static %}
<!DOCTYPE html>

<html lang="en" class="home-html">

<head>

    <!--Important Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <!--baraye inke website rooye hame moroorgar ha kar kone va mige hamontori website ro baz konan ke Edge mikone-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Baraye inke website responsive bashe makhsosan baraye mobile-->

    <!--Title-->
    <title>وبسایت خبری</title>

    <!--FavIcon-->
    <!--    <link rel="icon" type="image/png" href="./res/favicon.png">-->

    <!--Fontawesome-->
    <link rel="stylesheet" href="{% static 'regester/css/font-awesome/css/font-awesome.min.css' %} ">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'regester/css/style.css' %}">

</head>


<body>

<div class="container-news">

    <div>

        <a href="{% url 'blog:home' %}">
            <div class="home-button">
                <span><i class="fa fa-home"></i></span>
            </div>
        </a>

    </div>

    <div class="news">
        <h2>{{ instance.title }}</h2>
        <hr>
        <p>
            {{ instance.text }}
        </p>
    </div>

</div>


</body>

</html>