@font-face {

    font-family: Yekan;

    src: url(../res/Fonts/Yekan/Yekan.eot);

    src: url(../res/Fonts/Yekan/Yekan.eot?#iefix) format('embedded-opentype'),
    url(../res/Fonts/Yekan/Yekan.woff) format('woff'),
    url(../res/Fonts/Yekan/Yekan.ttf) format('truetype'),
    url(../res/Fonts/Yekan/Yekan.svg#BYekan) format('svg'),
    url(../res/Fonts/Yekan/Yekan.otf) format('otf');

    font-weight: normal;

    font-style: normal;

    font-size: smaller;

}

@font-face {

    font-family: Nirmala;

    src: url(../res/Fonts/Nirmala/Nirmala.ttf) format('truetype');

    font-weight: normal;

    font-style: normal;

    font-size: smaller;

}


.english-font {
    font-family: 'Nirmala', sans-serif;
}


body {
    padding: 80px;
    font-family: 'Yekan', sans-serif;
    background-image: url("../res/background-image.jpg");
}

a {
    color: black;
    text-decoration: none;
    outline: none;
}

/*body::before {*/
/*    content: "";*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    opacity: 0.8;*/
/*    z-index: 1;*/
/*    min-height: 100vh;*/
/*}*/
.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 40px;
    /*text-align: center;*/
    box-shadow: 0 0 35px rgba(0, 0, 0, .2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    width: 100%;
}

.login, .register {
    border: none;
    /*border-radius: 12px;*/
    height: 64px;
    width: 100%;

    /*margin-bottom: 32px;*/
    font-size: 16px;
    font-weight: bold;
    transition: all 300ms linear;
    cursor: pointer;
}

.login:hover {
    /*background-color: #B1AE18;*/
    background-color: black;
    color: white;
    transform: scale(1.03);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    transition: all 300ms linear;
}

.register:hover {
    /*background-color: #0970B7;*/
    background-color: black;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    transition: all 300ms linear;
}

.links {
    flex: 5;
    margin: 16px;
    padding: 24px;
    border: 2px solid white;
    min-height: 50vh;
    /*text-align: right;*/
}

.link {
    margin: 16px;
    padding: 12px 16px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all 300ms linear;
}

.link:hover {
    transform: scale(1.03);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    transition: all 300ms linear;
}


.container-news {
    display: flex;
    flex-direction: column;
    /*direction: rtl;*/
    width: 100%;
    padding: 40px;
    /*text-align: center;*/
    box-shadow: 0 0 35px rgba(0, 0, 0, .2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    box-sizing: border-box;
}

.home-button {
    padding: 16px;
    background-color: transparent;
    display: inline;
    transition: all 300ms linear;
}

.home-button span {
    color: white;
    font-size: 32px;
    transform: translateY(3px);
}

.home-button span i {
    transform: translateY(9px);
}

.home-button:hover {
    background-color: white;
    transition: all 300ms linear;
}

.home-button:hover span {
    color: black;
    transition: all 300ms linear;
}


.news {
    flex: 5;
    margin: 16px;
    padding: 24px;
    border: 2px solid white;
    min-height: 50vh;
    /*text-align: right;*/
    color: #000000;
}

.news h2 {
    font-size: 28px;
    font-weight: bold;
}

.news hr {
    border: solid white;
    border-top-width: 2px;
}

.news p {
    font-size: 18px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .3);
}