{% extends 'base.html' %}
{% block style %}

    <style type="text/css">
        body {
            font-family: Sahel;
            text-align: right;
        }

        .line-through {
            text-decoration: line-through;
        }
    </style>
{% endblock %}
{% block content %}
    {% verbatim %}
    <div id="app">

        <form @submit.prevent="createTask">

            <div class="container">
                <div class="row form-group">
                    <div class="col-12 py-3">
                        <h1>پروژه لیست کارها</h1>
                    </div>
                    <div class="col-8">
                        <label>Create New Task</label>
                        <input class="form-control mb-3" v-model="task">
                    </div>
                    <div class="d-flex flex-column">
                        <button class="btn btn-success mt-auto mb-3">Create</button>
                    </div>
        </form>
        <div class="col-10 mt-2">
            <div class="card mt-2" v-for="(task , index) in taskList" @click="completeTask(task.id, index)"
                 :class="{'completed': task.completed}">
                <div class="card-body">
                    {{ task.title }}
                    <button type="button" class="close float-left" @click.stop="deleteTask(task.id, index)">
                        <span class="fa fa-trash"></span>
                    </button>
                </div>

            </div>

        </div>

        {% endverbatim %}
{% endblock %}